  /* Header */
  header {
    background-color:map-get($paleta_de_colores, primario );
    color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
  }
/* Logo */
.logo{
    width: 150px;
    object-fit: contain;
    mix-blend-mode: color-burn;
    height: auto;
  }
  .header-content {
    flex: 1;
  }